@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.cuadro {
    background-image: url(portada4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex

}

body {
    font-family: 'Poppins', sans-serif;
    background-color:black;
    color: #FF5A2C;
}
button {
    color: #ff5a2c
}
 footer {
   color:#FF5A2C
 }
 